<!DOCTYPE html>

<html>
<head>   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">

    <!-- JAVASCRIPT -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/Movies.js"></script>
    <script src="js/autocomplete.js"></script>
</head>
<body ng-app="Movies" ng-controller="MovieController as movieCtrl">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <autocomplete ng-model="result" attr-placeholder="Search for movies here" click-activation="true" data="movies" on-type="suggestMovies" on-select="selectMovie"></autocomplete> 
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right"> 
                <li>
                    <a href="/logout">Login</a>
                </li>
            </ul>
        </nav>
        <br/>
        <div class="row content">
            <div class="col-lg-4 left-panel">
                <div class="row cover-pic">
                    <img src="images/jalsa_pic.jpg">
                </div>
                <div class="row basic-info">
                    <p><span id="story-line">{{movieCtrl.movies[0].story_line}}</span></p>
                    <p><span>Director: </span><span ng-repeat="director in movieCtrl.movies[0].directors">{{director}}, </span></p>
                    <p><span>Producers: </span><span ng-repeat="producer in movieCtrl.movies[0].producers">{{producer}}, </span></p>
                    <p><span>Stars : </span><span ng-repeat="star in movieCtrl.movies[0].stars">{{star}}, </span></p>
                </div>
            </div>
            <div class="col-lg-8 right-panel">
                <div class="row main-content">
                    <div class="row title-bar">
                        <div class="col-lg-4">
                            <span id="title">{{movieCtrl.movies[0].title}}</span>
                        </div>
                        <div class="col-lg-4">
                            <span id="rating">{{movieCtrl.movies[0].users_rating}}</span>
                        </div>
                        <div class="col-lg-4">
                            <span id="year">{{movieCtrl.movies[0].release_data}}</span>
                        </div>
                    </div>
                    <br/>
                    <div class="row selected-comment">
                        <p> Good comedy movie music is super hit pawan kalyan background is fucking irritating trivikram dilogues are a plus to the movie ha fuck fuck fuck</p>
                    </div>
                </div>
                <div class="row reviews-area">
                    <div class="row post-area">
                        <form class="post-review" role="form" ng-submit="submit()">
                            <div class="form-group ">
                                <div class="input-group write-review">
                                    <textarea class="form-control" ng-model="user_review" rows="4" cols="78" placeholder="Write your review"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" >Post</button>
                        </form>
                    </div>
                    <div class="row" ng-repeat="review in movieCtrl.reviews">
                        <p>{{review.review}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
